body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
}

/* header section  */

.container{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 4fr 1.3fr;
  background-color: black;
  z-index: 1;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
    font-size: 35px;
    font-weight: bolder;
}

menu{
    display: flex;
}

menu > li{
    margin: 10px;
    list-style: none;
}

menu li a{
    text-decoration: none;
    color: yellowgreen;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

menu li a:hover{
    color: white;
}

button{
    cursor: pointer;
    color: yellowgreen;
    background-color: black;
    border-color: yellowgreen;
    border-radius: 5px;
    padding: 0.5em 2em;
    font-size: 17px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

button:hover, button:focus{
    background-color: yellowgreen;
    color: black; 
}



/* slider section  */
.slideshow{
  display: grid;
  grid-template-columns: 0.9fr 1fr 2fr;
  margin-top: 3vh;
}

.slider{
  width: 400px;
  height: 450px;
  overflow: hidden;
}

.slides{
  width: 323%;
  height: 450px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  transition: 1s;
}

.slide img{
  width: 400px;
  height: 450px;
}

.navigation-manual{
  position: absolute;
  width: 400px;
  margin-top: -35px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid yellowgreen;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: yellowgreen;
}

#radio1:checked ~ .first{
  margin-left: 0%;
}
#radio2:checked ~ .first{
  margin-left: -30.97%;
}
#radio3:checked ~ .first{
  margin-left: -61.9%;
}
#radio4:checked ~ .first{
  margin-left: -93%;
}

.welcome{
  color: white;
  margin-top: 15vh;
  margin-left: 5vw;
}

/* contact details  */
.detail{
  display: flex;
  margin-top: 3vh;
  margin: 10vh;
  margin-left: 0;
}

.location{
  height: 60px;
  transform: skew(-40deg);
  background-color: yellowgreen;
  color: black;
  font-size: 20px;
  font-weight: 540;
}

.location span{
  transform: skew(40deg);
}

.address{ 
  width: 40%;
  visibility: hidden;
  position: relative;
  animation-name: first;
  animation-duration: 0.8s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes first{
  0%{background: black;  left: 0px; visibility: visible;}
  100%{left: 15vh; visibility: visible;}
}

.phone{ 
  width: 27%;
  border-top: 4px solid black;
  border-left: 4px solid black;
  visibility: hidden;
  position: relative;
  margin-top: 15px;
  animation: second;
  animation-duration: 0.8s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes second {
  0%{background: black; left: 400px; visibility: visible;}
  100%{left: 0px;visibility: visible;}
}


/* reveal  */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heading{
  height: 100vh;
  width: 50vw;
  font-size: 50px;
  font-weight: 600;
  background: yellowgreen;
  color: black;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.we{
  font-size: 50px;
  font-weight: 600;
  padding: 20px;
}

.we img{
  width: 25vh;
  height: 25vh;
}

.train{
  position: relative;
  text-align: center;
}

.train img{
  height: 100vh;
  width: 50vw;

}

.text{
  position: absolute;
  font-size: 50px;
  border: 3px solid white;
  color: white;
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.calci{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  background: yellowgreen;
  /* text-align: center; */
  list-style: none;
  /* padding: 27vh; */
  font-weight: 600;
}

.calci h2{
  font-weight:bolder;
  font-size: 50px;
}

.bmi input{
  width: 300px;
  background: black;
  border: none;
  border-bottom: 2px solid yellowgreen;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

#result{
  margin-top: 20px;
}

footer{
  height: 10vh;
  font-size: 20px;
  color: white;
}

.fa{
  padding: 10px;
  color: white;
}
